{% extends 'base/base.html' %}
{% load static %}

{% block link3 %}{% static 'css/about.css' %}{% endblock link3 %}


{% block content %}
    <main>
        <div class="main-image">
            <img src="{% static 'img/GRONNOLOGO2.png' %}" alt="Logo Gronno">
        </div>
        <div class="content">
            <p>
                Esta es una plataforma donde tendrás la oportunidad de demostrar tus habilidades 
                con la tecnología presentando los proyectos personales que hayas desarrollado.
                <br><br>
                En Gronno puedes subir los proyectos que quieras compartir con la comunidad, 
                seguir usuarios y categorías, comentar y otorgar medallas a proyectos, obtener 
                puntos, y subir en el ranking de los mejores Gronners.
            </p>
            <h2 class='heading-question'>¿Cuál es el objetivo de Gronno?</h2>

            <p>
                Esta plataforma fue creada con el objetivo de que todas las personas, sin importar 
                su edad, sexo o país, puedan tener la oportunidad de darse a conocer tanto 
                a ellos mismos como a sus capacidades de pensar, construir y aplicar soluciones innovadoras.
                <br><br>
                Gronno además tiene un gran objetivo, crear una comunidad donde las 
                personas compartan experiencias y aprendan de otros para mejorar 
                cada vez más.
            </p>

            <h2 class='heading-question'>¿A quiénes está destinado?</h2>
            <p>
                Si eres una persona que te entusiasma la tecnología, estas en contínuo aprendizaje, 
                te esfuerzas en ampliar tus habilidades realizando proyectos personales y quieres 
                mostrar tus experiencias a los demás, entonces estás preparado para ser un Gronner 
                y mostrarle al mundo lo que eres capaz de hacer.
            </p>

        </div>
    </main>
{% endblock content %}