{% extends 'home/home.html' %}
{% load static %}
{% block link2 %}{% static 'css/notifications.css' %}{% endblock link2 %}
{% block title %}Notificaciones{% endblock title  %}

{% block main_content %}
    <h1>Notificaciones</h1>

    {% for notification in notifications %}
        <div class='notification'>
            <div class='head-notif'>
                <a href="{{ notification.link }}" class='link'></a>
                <small>{{ notification.get_date }}</small>           
                <div class='info-notification'>
                    <p class='notification-message'>{{notification.message}}</p>
                </div>
            </div>
            
            <span class="icon {{notification.icon}}" style='color: {{ notification.color }}'></span>
        </div>
    {% empty %}
        <div class='noContent'>
            No hay notificaciones recientes
        </div>
    {% endfor %}
{% endblock main_content %}