<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>{% block title %}{% endblock title %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" href="{% static 'css/fonts/style.css' %}">
    <link rel="stylesheet" href="{% block link %}{% endblock %}">
    <link rel="stylesheet" href="{% block link2 %}{% endblock %}">
    <link rel="stylesheet" href="{% block link3 %}{% endblock %}">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<!-- AdSense -->
	<script data-ad-client="ca-pub-1564734756863122" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

	<!-- logo -->
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/GLogo2.ico' %}" />

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>	

</head>
<body>

   <header>

		<nav>
			<div id="leftNavSide">
				<div id="leftNavItems">
					<div id="logo">
						{% if user.is_authenticated %}
							<a href="{% url 'homepage' %}" class="link"></a>
						{% else %}
							<a href="{% url 'index' %}" class="link"></a>
						{% endif %}

						<img src="{% static 'img/GLogo2.png' %}" alt="logo">
					</div>

					<div class="divLogoPhoto"></div>

					<div id="userData">
						{% if user.is_authenticated %}
							<div id="mainPhoto"><a id='usrlink' href="{% url 'profile' user.username %}"><img id='usrimg' src="{{ user.gronner.image.url }}"></a></div>
								<span class="infouser">
									<a href="{% url 'profile' user.username %}" class='link'></a>
									<div id='user-id' style='display:none'>{{user.id}}</div>
									<div id="name">{{user.first_name}} {{user.last_name}}</div>
									<div id="username">({{user.username}})</div>
								</span>
							<div class="divLogoPhoto divLogout"></div>
							<a class='logout' href="{% url 'logout'%}">Cerrar Sesión</a>
						{% else %}
							<a class="login" href="{% url 'login'%}">Iniciar sesión</a>
						{% endif %}	
					</div>
				</div>

			</div>
				
			{% if user.is_authenticated %}
				<div id="rightNavSide">
					<div id="rightNavItems">
						<div class='notifications'>
							<span class='icon-notifications-outline'>
								{% if notifications_number > 0 %}
									<div class='notifications-count'>
										{{ notifications_number }}
									</div>
								{% endif %}
							</span>

							<div class="notifications-nav-box">
								{% for notification in notifications %}
									<div class='notification-nav'>
										<a class='link' href='{{notification.link}}'></a>
										<div class="message-notification">
											<p class='message-notification-text'>{{notification.message}}<p>
											<p class='message-notification-date'>{{notification.get_date}}</p>
										</div>
										<span class='icon {{notification.icon}}' style='color:{{notification.color}}'></span>
									</div>
								{% empty %}
									<div class="notification-nav">
										<p>No hay notificaciones</p>
									</div>
								{% endfor %}
							</div>
						</div>

						<div id="divMessageSearch"></div>
						<div id="projectReady"><a href="{% url 'project_create' %}">Subir nuevo proyecto</a></div>
						<div id="divMessageSearch"></div>
						<div id="search">
							<a href='{% url 'explore' %}'>Explorar</a>
						</div>
						<div id="searchMobile">
							<a href="{% url 'explore' %}" class="link"></a>
							<span class="icon-search"></span>
						</div>
						<div id="addProject">
							<a href="{% url 'project_create' %}" class="link"></a>
							<span class="icon-plus"></span>
						</div>
					</div>
				</div>
			{% endif %}
			
        </nav>
    </header>
	

    {% block content %}{% endblock content %}

    <footer>
        <div class="container">
            <div class="siteData">
                <img src="{% static 'img/GRONNOLOGO2.png' %}" alt="logo">
        
                <div class="divisor"></div>
                <ul class="links">
                    <li><a href="{% url 'about' %}">Acerca de</a></li>
                    <li><a href="{% url 'privacy' %}">Términos y condiciones</a></li>
                </ul>

            </div>
        </div>
    </footer>
	<script src="{% static 'js/base.js' %}"></script>
	{% block js %}
	{% endblock js %}
	<div style="display:none" id='dedication'>{{user.gronner.dedication}}</div>

</body>
</html>