@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
/* Categorías */
.IA{
	color:#ff6400;
}
.robotica{
	color:#586fb6;
}
.web{
	color:#2f9a00;
}

*{
	padding:0;
	margin:0;
	box-sizing: border-box;
}
body{
	font-family: 'Montserrat',sans-serif;
}
a{
	text-decoration: none;
	color:#000000;
}

@media screen and (max-width: 680px){
	#rightNavItems{
		display: none !important;
	}
	#phoneIcons{
		display: inline-block !important;
	}

}
@media screen and (max-width: 400px){
	#username, #name{
		font-size: .5em !important;
		margin-left: 1em;
	}
	#mainPhoto{
		width: 4em;
	}
	#leftNavItems{
		grid-template-columns:25% 10% 60% !important;
	}
	#mainPhoto a img{
		height:100% !important;
		width:100% !important;
	}
	#logo,#logo a img{
		height: 2em !important;
		width:2em !important;
	}
	#phoneIcons{
		font-size: 1em !important;
	}
}

#phoneIcons{
	justify-content: end;
	width: 3em;
	position: relative;
	font-size: 1.5em;
	color:white;
	display: none;
}
#addProject{
	position: absolute;
	left: 0;
	top:-.5em;
	color: #fcba03;
}
#searchPhone{
	position: absolute;
	left: 1em;
	top:-.5em;
}

#logo{
	margin:.5em 0;
}
#logo,#logo a img{
	height: 4em;
	width:4em;
	border-radius: 100%;
	align-self: center;
	justify-self:start;
}
#leftNavSide{
	justify-self: start;
}
#leftNavItems{
	display: grid;
	align-items: center;
	grid-template-columns:30% 10% 58%;
}

#rightNavSide{
	justify-self:end;
	display: grid;
	justify-items:end;  
	width: 100%;
	position: relative;
}
#rightNavItems{
	display: grid;
	align-items: center;
	grid-template-columns:12em 1em 12em;
}

nav{
	display: grid;
	grid-template-columns:1fr 1fr;
	align-items: center;
	padding:0 2%;
	justify-items:center;
	min-height: 4em;
	background-color: #4b1d00;
	position: relative;
}

#divLogoPhoto, #divMessageSearch{
	height:1.5em;
	width:1px;
	opacity: .4;
	background:#FFF;
	justify-self: center;
}
#divMessageSearch{
	height:2em;
	justify-self: center;
}
#mainPhoto{
	justify-self:center;
}
#mainPhoto a img{
	height:90%;
	width:90%;
	border-radius: 100%;
	justify-self:center;
}

#userData{
	display: flex;
	align-items:center;
	justify-content: center;

}
#username, #name{
	color:white;
	font-size:0.7em;
	justify-self:start;
	font-family: 'Montserrat light',sans-serif;
}
#username{
	opacity: .4;
}

#projectReady{
	justify-self:end; 
	width:11em;
	font-weight: bold;
}
#projectReady a{
	text-decoration: none;
	color:#ffba00;
	font-size: 90%;
	opacity: .8;
	transition:.5s;
}
#projectReady a:hover{
	opacity: 1;
}
#search form{
	display: inline-block;
}
.icon-search{
	color:white;
	font-size: 1.5em;
	position:absolute;
	pointer-events: none;
}
#search{
	position: relative;
	display: inline-block;
	justify-self:end;
	width:12em;
}
#searchbar{
	background-color: transparent;
	border:none;
	outline: none;
	border-bottom:1px solid gray;
	transition: .5s;
	font-family: 'Montserrat',sans-serif;
	color:white;
	padding-left:2.5em;
	padding-bottom: .4em;
	width: 100%;
}
#search #searchMessage{
	position:absolute;
	opacity: .4;
	left:0;
	top:0;
	top:20%;
	left:20%;
	font-size:80%;
	color:white;
	pointer-events: none;
	transition:.5s;
}
#submitButton{
	position:absolute;
	width: 1.5em;
	height:1.5em;
	background: transparent;
	border:none;
	outline: none;
	cursor:pointer;
}

#searchbar:focus ~ #searchMessage,
#searchbar:valid ~ #searchMessage{
	opacity: 0;
}
#searchbar:focus{
	border-bottom:1px solid white;
}

.fotoPersona, img{
	height:3em;
	width: 3em;
	border-radius: 100%;
	display: inline-block;
}

.container{
	display:grid;
	grid-template-columns: 1fr 2fr 1fr;
}

.left, .right{
	background-color: #e4e4e4;
	padding:1em 0em;
	width: 80%;
	min-height: 800px;
}
.right{
	justify-self:end; 
}
.left h1, .right h1{
	font-size: 1em;
	text-align: center;
	font-family: 'Montserrat Light', sans-serif;
}

.left .presentadosDiv,
.right .zonaDiv{
	height:1px;
	width: 70%;
	margin: 1em auto;
	background-color: black;
	opacity: .4;
}

.publicado{
	margin:2em 0;
	font-size:.8em;
}
.publicado .icon-price-tag{
	margin:0 1em;
}
.publicado a{
	color:#583600;
}

.persona{
	margin:2em 0;
	display:flex;
	font-size: .8em;
	align-items: center;
	flex-direction: column;
}

.dedicacion{
	font-size: .6em;
	color:#e96e00;
}

.publicacion{
	display: grid;
	margin-top:2em;
	font-family: 'Montserrat Light', sans-serif;
	grid-template-columns: 2.5fr 1.5fr;
}
.publicacion .titulo{
	font-size: 1.3em;
	display: block;

}
.bronce,.oro,.plata{
	display: inline-block;
	position: relative;
}
.publicacion .creador{
	font-size: 1em;
}
.categoria{
	grid-column: span 3;
}
.info{
	grid-column:span 1;
}

.medallas{
	justify-self: end;
	grid-column: span 1;
}

.cantidadOro, .cantidadPlata, .cantidadBronce{
	position: absolute;
	left:50%;
	top:60%;
	transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    cursor: default;
}

.divEndPublic{
	width:70%;
	height:1px;
	background-color:#000000;
	grid-column: span 3;
	margin-top:2em;
}

.creador{
	opacity:.7; 
	transition: .5s;
}

.creador a:hover{
	opacity:1;
}