<!DOCTYPE html>
{% load static %}
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <meta name="viewport" content="width=device-width">
    <title>Pagina web</title>
  </head>
  <body>
  	<div id="main-background">

	    <div id="main">

			<div class="login">
				<img class="Logo" src="{% static 'img/logo-de-una-letra.png' %}" alt="logo">
				<form action="#" method="POST" class="loginForm" autocomplete="off">
					<div class="inputBox">	
						<input type="text" name="Nombre" required="" autocomplete="off">
						<label>Nombre de usuario</label>
					</div>

					<div class="inputBox">
						<input type="password" name="Constraseña" required="" autocomplete="off">
						<label>Constraseña</label>
					</div>

					<div class="submitButton">
						<input type="submit" value=""><span class="icon-login"></span>
					</div>

				</form>

				<div class="crearCuenta">
					<span class="divisor"></span>
					<a href="{% url 'signup' %}">Crear una cuenta</a>	
				</div>
			</div>


	    	<div class="mainMessage">
	    		<p class="mensaje"> Imagina. <br>
	    	  				        Programa. <br>
	    	  				        Muéstralo al mundo. <br>
	    		</p>
	    	</div>

	    	<div class="mainFooter">
	    		<p class="projectsMessage">Presenta tus proyectos finalizados</p>
	    		<hr></span>
	    		<div class="botonRegistrar">
	    			<button class="registrarme"><a href="{% url 'signup' %}">Registrarme</a></button>
	    		</div>
	    	</div>

	    </div>
	</div>



  </body>
</html>
