body{
    background-color:#FFF;
}
input, select{
    display:block;
    margin-top:1em;
}
label{
    display: block;
    margin-top: 1em;
    font-weight: 500;
}
form{
    margin-bottom: 10em;
}
br{
    display: none;
}
.heading{
    display: flex;
    justify-content: space-between;
    padding:1em 2em;
    background: #752d01;
    align-items: center;
    color:#FFF;
    margin-bottom: 2em;
}
.heading a{
    color:#FFF;
    font-size: 1em;
}
.heading .config-title{
    font-weight: 500;
}
hr{
    width:80%;
    margin: auto;
}
.help-block{
    opacity: .7;
    font-size: .8em;
    margin-left: 1em;
}
input{
    margin-left: 1em;
    padding-bottom:1em;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid #acacac;
}
#id_extract{
    margin-left: 1em;
    margin-top:1em;
    padding:1em;
    border: 1px solid #acacac;
    font-family: 'Montserrat', sans-serif;
}
#id_dedication{
    margin-left: 1em;
    padding:.5em;
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
}
#error_1_id_username{
    color:red;
    opacity: 1;
}
label[for="id_image"]{
    margin:1em 0;
}
#id_image{
    border: none;
    margin-left: 1em;
}
#id_country{
    margin-left: 1em;
    padding:.5em;
}
.email{
    display: flex;
    align-items: center;
}
#id_shows_email, .email label{
    margin:0;
}
#id_shows_email{
    margin-left: 1em;
}
.personal{
    margin-bottom: 2em;
}
.social label{
    margin: 1em 0;
}
.icon-social{
    font-size: 1em;
    margin-right: .5em;
}
.icon-facebook{
    color:#3b5998;
}
.icon-linkedin{
    color:#0e76a8;
}
.icon-instagram{
    color:#aa2188;
}
.icon-twitter{
    color:#00acee;
}

button[type='submit']{
    margin-top: 2em;
    padding: 1em;
    width: 30%;
    color:white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #a74000;
}