@media screen and (max-width: 800px){
    .explore{
        display: block !important;
        margin: 0 2em !important;
    }
    .project-followed-title{
        margin-top: 2em;
        font-size: 1.2em !important;
    }
    .results{
        margin: 0 1em !important;
    }
    .head h1{
        font-size: 1.2em;
        max-width: 90%;
        margin: auto;
    }
}

body{
    background-color: #FFF;
    
}
.head{
    background: rgb(214,73,0);
    background: linear-gradient(90deg, rgba(214,73,0,1) 0%, rgba(158,54,0,1) 11%, rgba(152,52,0,1) 24%, rgba(82,28,0,1) 100%);    padding:2em;
    text-align: center;
    box-shadow: 1px 1px 5px #000;
    padding:4em 0;
}
.head h1{
    color:#FFF;
    margin-bottom: 1em;
    font-weight: 500;
}
.head input{
    background-color: transparent;
    border:none;
    padding:1em;
    border-bottom: 1px solid #FFF;
    color:#FFF;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search{
    position: relative;
}
.search .icon-search{
    position: absolute;
    top:1em;
    pointer-events: none;
    right: 0;
    color:#FFF;
}
.search button{
    width:1.5em;
    height:1.5em;
    cursor: pointer;
    border: none;
    position: absolute;
    top:1em;
    right:0;
    background-color: transparent;
}
.user, .project, .category{
    position: relative;
}
.results{
    margin:0 10em;
    margin-top: 1em;
}
.icon-price-tag{
    float: left;
    margin-right: .5em;
}
.category, .user{
    padding:1em 0;
}
.user{
    display: flex;
    align-items: center;
}
.user img{
    width: 3em;
    height: 3em;
    border-radius: 100%;
    margin-right: 1em;
}
.noResults{
    padding:1em;
    opacity: .7;
}
.projects-title, .categories-title, .users-title{
    font-weight: 500;
    margin-top:1em;
    margin-bottom:.5em;
}
.project .category-project{
    display: flex;
    align-items: center;
    justify-content: start;
}
#project2{
    margin:0 !important;
}
.category{
    display: flex;
    align-items: center;
}
.category-name{
    font-size: 1.2em;
}
.project-name{
    font-size: 1.5em;
    margin:0 !important;
}
.project-author{
    opacity: .7;
    font-size: .9em;
}
.project, .category{
    margin:1em 0;
}
.category-project, .project-name, .project-author{
    pointer-events: none;
}
#project2, .category, .user{
    border-radius: 10px;
    padding:1em 0;
    transition: .5s;
}
#project2:hover, .category:hover, .user:hover{
    background-color: rgb(223, 223, 223);
    padding-left: 1em;
}
.explore{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
}
.explore .project-followed{
    margin-top:1em;
    text-align: right;
}
#category-project_before{
    justify-self: end !important;
}
.explore .project-followed-title, .explore .all-categories-title{
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 1em;
}
.explore .no-categories{
    opacity: .7;
    font-size: 1em;
    margin:2em;
}
.explore .all-categories{
    margin-top: 1em;
}
.trending-categories{
    padding:1em 0;
    border-radius: 10px;
    transition:.5s;
    margin:0 !important;
}
.trending-categories:hover{
    padding-left: 1em;
    background-color:rgb(223, 223, 223);
}
.project-followed #project2{
    padding: 1em 0;
    border-radius: 10px;
    transition: .5s;
    margin: 0 !important;
}
#project2:hover{
    background-color: rgb(223, 223, 223);
    padding-right: 1em;
}
.category-followed{
    margin:0 !important;
    padding:0 !important;
}
