@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


*{
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
	color:white;
}

/* Media Queries */
@media screen and (max-width: 767px){
	.login .inputBox{
		margin-top: 1em;
	}
	.login .crearCuenta{
		display: none;
	}
	.login .submitButton{
		top:-0.5em;
	}

	.mainMessage{
		text-align: center;
		justify-content: center;
		font-size:3em;
		padding-top:0.7em;
		padding-bottom: 0.7em;
	}
	.projectsMessage{
		text-align: center;
		font-size: 1.2em;
	}
	.mainFooter hr{
		display: none;
	}
	.botonRegistrar{
		display: flex;
		justify-content: center;
		padding-top:5%;
		padding-bottom:5%;
	}
	.registrarme{
		padding:1em;
	}

}

@media screen and (min-width: 768px){
	.mainMessage{
		padding:5%;
		font-size:3.2em;
	}
	.divSession{
		width: 20%;
	}
	.mainFooter{
	   display:flex;
	   align-items: center;
	   padding:1% 3% 1% 3%;
	}
	.mainFooter hr{
		margin-left: 3%;
		margin-right: 3%;
		width:32em;
	}
	.projectsMessage{
		font-size:1.5em;
	}
	.registrarme{
		padding:1em;
	}

	.crearCuenta{
		display: flex;
		align-items: center;
	}

}

/* Welcome */
#main-background{
	background-color: #252525;

}
#main{
	background-image: url("../img/coding1mod.jpg");
	background-repeat: no-repeat;
	max-width: 1350px;
	max-height: 720px;
	width:100%;
	margin:auto;
}
.mainMessage{
	color:white;
	font-family: 'Montserrat Light', sans-serif;
	height:7.1em;
	display: flex;
	max-width: 1366px;
	align-items: center;
}
	/* Message */
	.projectsMessage{
		color:white;
		font-family: 'Montserrat Light', sans-serif;

	}

	/* Login */
	.Logo{
		width:4em;
		height:4em;
		padding:1.5em;
	}
	.login{
		display: flex;
		align-items: center;
	}

	.loginForm{
		display:inline-block;
		max-width: 70%;
	}
	.inputBox{
		display: inline-block;
		position: relative;
		margin-left:0.5em;
	}
	.inputBox label{
		position: absolute;
		top:0;
		left:0;
		pointer-events: none;
		color:white;
		font-family: 'Montserrat Light',sans-serif;
		font-size:0.8em;
		transition: .5s;
	}
	.inputBox input:focus ~ label,
	.inputBox input:valid ~ label{
		font-size:0.7em;
		top:-1.4em;
	}

	.inputBox input{
		font-family: 'Montserrat Light', sans-serif;
		color:white;
		font-size:1em;
		background-color: transparent;
		border:none;
		outline: none;
		border-bottom:1px solid gray;
	}

	.login .submitButton{
		position: relative;
		display:inline-block;
	}
	.login input[type="submit"]{
		padding:0.4em 1em;
		cursor:pointer;
		background-color: transparent;
		border:none;
		outline:none;
		margin-left:1em;
	}
	.login .icon-login{
		position:absolute;
		color:#ff7926;
		font-size:1.7em;
		left:0.4em;
		top:0;
		pointer-events: none;
	}

	.login .divisor {
		display:inline-block;
		margin-left:0.5em;
		height:1.5em;
		border:0.5px solid gray;
	}

	.login .divisor{
		display: inline-block;
	}

	.login .crearCuenta a{
		margin-left:0.5em;
		font-family: 'Montserrat', sans-serif;
		font-size:1em;
		color:#9e4b18;
	}

	/* Register button */
	.registrarme{
		background-color:#ff7926;
		border-radius:10px;
		border:none;
		transition: background-color 0.5s;
	}

	.registrarme:hover{
		background-color:#9e4b18;
	}

	.registrarme a{
		font-family: 'Montserrat Light', sans-serif;
		font-size:1.8em;
		color:white;
		padding-left:2em;
		padding-right: 2em;
	}