@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap');



@media screen and (max-width: 680px){
    .publicacion .description{
        max-height:9em !important;
    }
    .mainContainer{
        grid-template-columns: 1fr !important;

    }
	.medallas{
		display: grid !important;
		align-items: center;
		justify-content: center;
		grid-template-columns: 1fr 1fr;
	}
	.bronce,.plata{
		grid-column: span 1;
	}
	.oro{
		grid-column: span 2;
		justify-self:center; 
    }
    .medallas, .medallas img{
		height:3em !important;
		width: 3em !important;
	}
    aside{
        grid-row-start:1;
        justify-self:center;
        min-width: 80%;
        max-width:90%;
    }
    .projects .publicacion{
        margin: 1em auto !important;
        max-width: 80%;
        height:7em;
    }
    .publicacion .category{
        font-size: .6em;
    }

}


@media screen and (max-width:830px){
    .publicacion, .presentados, .aboutMe{
        padding:1.5em !important;
    }
    .iconosContainer{
        max-width:100% !important;
    }
    .medallas{
        margin-top:1em !important;
    }
}

/* Main User-Photo */

    #perfilContainer{
        background: rgb(56,22,0);
        background: linear-gradient(180deg, rgba(56,22,0,1) 0%, rgba(89,35,0,1) 61%, rgba(106,42,0,1) 100%);        display:flex;
        justify-content:center;
        box-shadow: 1px 1px 5px #000;
        align-content: center;
        padding:1em 0;
        position: relative;
    }
    #infoPerfil{
        text-align: center;
        color:#FFF;
    }
    #userImage img, #userImage{
        height:7em;
        width:7em;
        border-radius: 100%;
        margin:auto;
        margin-bottom: 1em;
    }
    #userImage{
        background-color: #4b1d00;
    }
    #subImageName{
        font-size: 2em;
        font-weight: bold;
        font-weight: 500;
    }
    #subImageName .icon-user-x, #subImageName .icon-plus{
        top:-.5em;
        right: -1.2em;
        position: absolute;
        font-size: 1.5rem;
        color:#FFF;
    }
    .icon-user-x{
        color:#FFF;
    }
    .follow{
        display: inline;
        position: relative;
    }
    #userTitle{
        color:#ff8800;
        font-size:1em;
        font-weight: 500;
        padding-top: .5em;
    }
    .tags{
        font-size: 1.5em;
        padding-top:.5em;
    }
    .tags .icon-price-tag{
        padding:0em .1em;
    }
    .user_tags{
        font-size: .8em;
    }
    .config{
        position: absolute;
        color:#FFF;
        top:1em;
        right:1em;
        font-size: 1.5em;
    }

/* Main Container */

    .mainContainer{
        display:grid;
        grid-template-columns: 2fr 1fr;
        max-width: 90%;
        justify-content: center;
        grid-gap: 1.5em;
        margin:auto;
        position: relative;
    }

/* Projects */

    .noContent{
        font-weight: 500;
        text-align: center;
        opacity:.7;
        font-size: 1em;
    }
    .projects>h2{
        padding:1em 0;
        font-weight: 500;
    }

    .publicacion{
        display:grid;
        grid-template-columns: 2fr 1fr;
        margin-bottom: 1em;
        background-color: #FFF;
        padding: 2em 2.5em;
        border-radius:10px;
        max-width:90%;
        transition:.5s;
        position: relative;
        border:1px solid #acacac;
    }
    .description{
        white-space: pre-line;
        /*word-break: break-all;*/
        word-wrap: break-word;
    }
    .publicacion:hover{
        box-shadow:1px 1px 10px #000;
    }
    .publicacion .publicInfo, .publicacion .medallas{
        pointer-events: none;
    }

    .publicacion .category {
        margin-bottom: 1em;
    }
    .category h3{
        display:inline-block;
    }
    .publicacion .title{
        font-size: 1.3em;
        font-weight: 500;
    }
    .publicacion .creators .user{
        opacity:.8;
        color:#000;
        transition: .5s;
    }
    .publicInfo{
        max-height: 100%;
        overflow: hidden;
    }
    .creators .user:hover{
        opacity:1;
    }
    .medallas{
        justify-self: end;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1em;
    }
    .bronce,.oro,.plata{
        display: inline-block;
        position: relative;
        pointer-events: none;
    }    
    .category{
        font-size:.8em;
    }
    .bronce, .plata, .oro{
        position: relative;
    }

    .cantidad{
        position: absolute;
        left:50%;
        top:60%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        cursor: default;
    }

/* Aside */
    /* Presentados */
    .presentados{
        padding:2em;
        background-color:#FFF;
        margin:1em 0;
        border-radius: 10px;
        border:1px solid #acacac
    }

    .presentados>h2{
        text-align: center;
        color:#f85f00;
        font-weight: 500;
    }
    .presentados .category{
        margin-top:2em;
    }
    @media screen and (max-width:815px){
        .presentados .category{
            font-size:.7em;
        }
    }

    .presentados .proyecto a{
        color:#000;        
    }
    .presentados .proyecto{
        padding:.7em 0;
        transition:.5s;
        border-radius: 10px;
    }
    .presentados .proyecto:hover{
        padding:.7em .5em;
        background-color:rgb(238, 238, 238);        
    }
    .presentados .category .quantity{
        font-size: 1.2em;
    }

    /* About Me */

    .aboutMe{
        padding:2em;
        background-color:#FFF;
        border-radius: 10px;
        margin: 2em 0;
        max-width: 21em;
        border:1px solid #acacac
    }
    .aboutMe .title{
        color:#ff6302;
        text-align: center;
        font-weight: 500;
    }
    .aboutMe>h2{
        margin-top:1em;
    }
    #userinfo{
        max-width: 100%;
    }
    .extract_content{
        max-height:3em;
        overflow: hidden;
        /*word-break: break-all;*/
        word-wrap: break-word;
        white-space: pre-line;
    }
    .extract_content p{
        line-height: 1.5;
        margin-top: -4em;
        margin-bottom: -4em;
        text-align: left !important;
        opacity: 1 !important;
        height: auto;
    }
    #seeMore{
        text-align: right;
        display:flex;
        justify-content: right;
    }
    #seeMore span{
        font-size: 1.5em;
        cursor: pointer;
    }

    .redesContainer .iconosContainer{
        max-width:70%;
        margin: auto;
    }
    .iconosContainer .iconos{
        display:flex;
        font-size: 2em;
        justify-content: space-between;
        margin-top:.5em;
    }
    .iconos span{
        position: relative;
    }

    .rightDiv{
        height:1px;
        width:70%;
        background-color: #000;
        opacity:.3;
        margin:.5em auto;
    }
    .proyecto{position: relative;}
    .proyecto h4, .proyecto div{
        pointer-events: none;
    }
