@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?gxxvyq');
  src:  url('fonts/icomoon.eot?gxxvyq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?gxxvyq') format('truetype'),
    url('fonts/icomoon.woff?gxxvyq') format('woff'),
    url('fonts/icomoon.svg?gxxvyq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-log-in:before {
  content: "\e901";
}
.icon-cheveron-down:before {
  content: "\e900";
}
.icon-price-tag:before {
  content: "\e935";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-search:before {
  content: "\e986";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-linkedin:before {
  content: "\eac9";
}
