<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href='https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap' rel='stylesheet'>
    <title>Document</title>
</head>
<body style="background-color: #4b1d00">
    <table style="max-width: 600px; padding: 10px; margin:0 auto; border-collapse: collapse; position: relative; height: 100vh;">
        <tr>
            <td style="text-align: left;">
                <a href="http://gronno.herokuapp.com/">
                    <img width="20%" style="display:block; margin: 1.5% auto; height:4em; width:15em" src="https://i.postimg.cc/vBVtgfCB/GRONNOLOGO2.png">
                </a>
            </td>
        </tr>
        
        <tr style="vertical-align:  top;">
            <td>
                <div style="color: #34495e; margin:auto; font-family: 'Montserrat',sans-serif; max-width: 80%;">
                    <h2 style="color: #e67e22; text-align: center; font-family:'Montserrat',sans-serif; font-weight: 500;">Bienvenido/a, {{name}}!</h2>
                    <p style="color: #FFF;font-size: 1em; text-align:center; font-family:'Montserrat',sans-serif; font-weight: 500;">
                        Gracias por unirte a nuestra comunidad.<br><br>
                        Es el momento de demostrar tus habilidades en la tecnología. <br><br>

                        ¡Esperamos tus proyectos!
                    </p>

                    <div style="width: 100%; text-align: center; margin-top: 10em;">
                        <a style="text-decoration: none; border-radius: 5px; padding: 11px 23px; color: white; background-color: rgb(255, 94, 0); font-family:'Montserrat',sans-serif" href="http://gronno.herokuapp.com/project/new/">Subir mi primer proyecto</a>	
                    </div>
                    <p style="color: #b3b3b3; font-size: 12px; text-align: center;margin: 30px 0 0; font-family: 'Montserrat',sans-serif;">- Gronno</p>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>