{% extends 'users/login.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}{% static 'css/register.css' %}{% endblock  %}

{% block title %}Registrarse{% endblock title %}

{% block form %}
	{% csrf_token %}
	{{ form|crispy }}
	<div class="conditions-container">
		<input name='conditions' type="checkbox" class='conditions-checkbox' required>
		<label for="conditions" class='conditions-label'>He leído y acepto los <a href='{% url 'privacy' %}'>términos y condiciones</a></label>
	</div>

	<button type="submit">Registrarme</button>
	
{% endblock form %}
{% block have_account %}<a href="{% url 'login' %}" class="login">Ya tengo una cuenta</a>{% endblock have_account %}