{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load language_flags_tags %}
{% load tz %}

{% block title %}Ver Perfil{% endblock title %}
{% block link %}{% static 'css/profile.css' %}{% endblock link %}
{% block link2 %}{% static 'flags/sprite-hq.css' %}{% endblock link2 %}


{% block content %}   
    <div id="perfilContainer">
        <div id="infoPerfil">
            <div id="userImage"><img src="{{ visiting.gronner.image.url }}" style="border:5px solid {{ fav_category.color }}"></div>
            <h1 id="subImageName">{{visiting.first_name}} {{visiting.last_name}}
                <div class='follow'>
                        {% if are_friends %}
                            <a href="{% url 'follow' visiting.username %}"><span class="icon-user-x" title="Dejar de seguir a {{visiting.get_full_name }}"></span></a>
                        {% else %}
                            {% if user != visiting %}
                                <a href="{% url 'follow' visiting.username %}"><span class="icon-plus" title="Seguir a {{visiting.get_full_name }}"></span></a>
                            {% endif %}
                        {% endif %}
                    </a>
                </div>
            </h1>
            <h4 class = "user_tags">
                <i class="{{ visiting.gronner.country.flag_css }}" title="{{ visiting.gronner.country.name }}"></i> - 
                {{ followers }} seguidor/es - 
                {{ visiting.gronner.points }} puntos
            </h4>
            <h2 id="userTitle">{{visiting.gronner.dedication}}</h2>
            <div class="tags">
                {% for category in categories %}
                    <span class="icon-price-tag" style = "color:{{category.color}}" title="{{category.name}}"></span>
                {% endfor %}
            </div>
        </div>
        {% if user == visiting %}
            <div class = 'config'>
                <a class = 'link' href="{% url 'config' %}"></a>
                <span class="icon-cog">
            </div>
        {% endif %}
    </div>
        {% for message in messages %}
            <div class="{{ message.tags }}">{{message}}</div>
        {% endfor %}
    <div class="mainContainer">
        <div class="projects">
            <h2>Subidos este último mes</h2>
            {% if projects %}
                {% for project, medal in recents %}
                    <div class="publicacion">
                        <a class="link" href="{% url 'project_detail' project.id %}"></a>
                        <div class="publicInfo">
                            <div class="postedAt">
                                <span class="icon-calendar"></span>
							    <span class="numeroComments">{{ project.get_date}}</span>	
                            </div>
                            <div class="category">
                                <span class="icon-price-tag" style="color:{{project.category.color}}"></span>
                                <h3><a href="#" style="color:{{project.category.color}}">{{project.category.name}}</a></h3>        
                            </div>

                            <h2 class="title">{{ project.title }}</h2>

                            <h3 class="description">{{ project.description }}</h3>
        
                        </div> 

                        <div class="medallas">
                                <div class="bronce">
                                    <img src="{% static 'img/bronce.png' %}" alt="Medallas de bronce">
                                    <span class="cantidad">{{ medal.bronze }}</span>
                                </div>

                                <div class="plata">
                                    <img src="{% static 'img/plata.png' %}" alt="Medallas de plata">
                                    <span class="cantidad">{{ medal.silver }}</span>
                                </div>

                                <div class="oro">
                                    <img src="{% static 'img/oro.png' %}" alt="Medallas de oro">
                                    <span class="cantidad">{{ medal.gold }}</span>
                                </div>

                        </div>
                

                    </div>
                {% endfor %}
            {% else %}
                <h3 class="noContent">No hay proyectos recientes</h3>
            {% endif %}
        </div>

        <aside>
                <div class="aboutMe">

                        <div id="userinfo">
                            <h2 class="title">Sobre mí</h2>
                            <div class="rightDiv"></div>
                                <div class='extract_content noContent' id="text">
                                <p>
                                    {% if visiting.gronner.extract %}
                                        {{visiting.gronner.extract}}
                                    {% else %}
                                        No se ha dado información
                                    {% endif %}
                                </p>

                                </div>
                                {% if visiting.gronner.extract %}
                                    <div id="seeMore">
                                        <span class="icon-cheveron-down" id='iconspan'></span>
                                    </div>
                                {% endif %}

                        </div>
                    
                    <div class="redesContainer">
                        <h2 class="title">Contacto</h2>
                        <div class="rightDiv"></div>
                        <div class="iconosContainer">
                            <div class="iconos">
                                {% if socials %}
                                    {% for social in socials %}
                                        {% if not forloop.first %}
                                            <span style="color:{{ social.color }}" class="icon-{{ social.name }}"><a href = {{ social.link }} target="_blank" class="link"></a></span>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                {% if visiting.gronner.shows_email %}
                                    <span class="icon-mail4" style = "color:#cf0e00"><a href="mailto:{{ visiting.email }}" target="_blank" class="link"></a></span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="presentados">

                    <h2 class="title">Presentados</h2>
                    <div class="rightDiv"></div>
                    
                    {% if projects %}

                    {% for projects,category in per_category %}
                         <div class="category"> 
                            <a style="color:{{ category.color }}" href="#">
                            <span class="icon-price-tag" style="color:{{ category.color }} "></span>
                            <h3>{{ category.name }}</h3>
                            </a>
                        </div>
                        {% for project in projects %}
                            <div class="proyecto">
                                <a href="{% url 'project_detail' project.id %}" class="link"></a>
                                <h4 class="title">{{ project.title }}</h4>
                                <div class="postedAt"><span class="icon-calendar"></span><span>{{ project.get_date }}</span></div>
                                
                            </div>
                        {% endfor %}
                    {% endfor %}

                    {% else %}
                        <h3 class="noContent">No hay proyectos</h3>
                    {% endif %}

                </div>

            </div>
    

    </aside>

{% endblock content %}
{% block js %}
    <script src = {% static 'js/users.js' %}></script>
{% endblock js %}

 