{% extends 'base/base.html' %}
{% load static %}
{% load tz %}

{% block title %}Ver Perfil{% endblock title %}
{% block link %}{% static 'css/profile.css' %}{% endblock link %}

{% block content %}   
    <div id="perfilContainer">
        <div id="infoPerfil">
            <div id="userImage"><img src="{% static 'img/me.png' %}" alt="Luis Méndez" style="border:5px solid {{ fav_category.color }}"></div>
            <h1 id="subImageName">{{user.full_name}}<span class="icon-plus" title="Seguir a {{user.full_name}}"></span></h1>
            <h2 id="userTitle">{{user.dedication}}</h2>
            <h3 class="user_points">{{ user.points }}</h3>
            <div class="tags">
                {% for category in categories %}
                    <span class="icon-price-tag" style = "color:{{category.color}}" title="{{category.name}}"></span>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="mainContainer">
        <div class="projects">
            <h2>Subidos este último mes</h2>

            {% if recents %}
                {% for project, medal in recents %}
                    <div class="publicacion">
                        <a class="link" href="#"></a>
                        <div class="publicInfo">
                            <div class="postedAt">
                                <span class="icon-calendar"></span>
							    <span class="numeroComments">{{ project.date_posted|date:"j \d\e F" }}, {{project.date_posted|time:"P"}}</span>	
                            </div>
                            <div class="category">
                                <span class="icon-price-tag" style="color:{{project.category.color}}"></span>
                                <h3><a href="#" style="color:{{project.category.color}}">{{project.category.name}}</a></h3>        
                            </div>

                            <h2 class="title">{{ project.title }}</h2>

                            <h3 class="description">{{ project.description }}</h3>
        
                        </div> 

                        <div class="medallas">
                            <div class="medallas">
                                <div class="bronce">
                                    <img src="{% static 'img/bronce.png' %}" alt="Medallas de bronce">
                                    <span class="cantidad">{{ medal.bronze }}</span>
                                </div>

                                <div class="plata">
                                    <img src="{% static 'img/plata.png' %}" alt="Medallas de plata">
                                    <span class="cantidad">{{ medal.silver }}</span>
                                </div>

                                <div class="oro">
                                    <img src="{% static 'img/oro.png' %}" alt="Medallas de oro">
                                    <span class="cantidad">{{ medal.gold }}</span>
                                </div>

                            </div>

                        </div>
                

                    </div>
                {% endfor %}
            {% else %}
                <h3 class="noContent">No hay proyectos recientes</h3>
                
            {% endif %}
        </div>

        <aside>
            <div class="info">
                <div class="aboutMe">

                        <div id="userinfo">
                            <h2 class="title">Sobre mí</h2>
                            <div class="rightDiv"></div>
                                <div id="text" class="noContent">
                                {% if user.extract %}
                                    {{user.extract}}
                                {% else %}
                                    No se ha dado información
                                {% endif %}

                                </div>
                                {% if user.extract and extract_length > 50%}
                                    <div id="seeMore">
                                        <span class="icon-cheveron-down" id='iconspan'></span>
                                    </div>
                                {% endif %}
                        </div>
                    
                    <div class="redesContainer">
                        <h2 class="title">Contacto</h2>
                        <div class="rightDiv"></div>
                        <div class="iconosContainer">
                            <div class="iconos">
                                {% if socials %}
                                    {% for social in socials %}
                                        <span style="color:{{social.network.color}}" class="icon-{{ social.network.name }}"><a href = {{ social.link }} class="link"></a></span>
                                    {% endfor %}
                                {% endif %}
                                <span class="icon-mail" style = "color:#cf0e00"><a href="mailto:{{ user.email }}" class="link"></a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="presentados">

                    <h2 class="title">Presentados</h2>
                    <div class="rightDiv"></div>
                    
                    {% if projects %}

                    {% for projects,category in per_category %}
                         <div class="category"> 
                            <a style="color:{{ category.color }}" href="#">
                            <span class="icon-price-tag" style="color:{{ category.color }} "></span>
                            <h3>{{ category.name }}</h3>
                            </a>
                        </div>
                        {% for project in projects %}
                            <div class="proyecto">
                                <a href="#">
                                <h4 class="title">{{project.title}}</h4>
                                <div class="postedAt"><span class="icon-calendar"></span><span>{{ project.date_posted|date:"j \d\e F"}}, {{project.date_posted|time:"P"}}</span></div>
                                </a>
                            </div>
                        {% endfor %}
                    {% endfor %}

                    {% else %}
                        <h3 class="noContent">No hay proyectos</h3>
                    {% endif %}

                </div>

            </div>
        </div>
    

    </aside>

{% endblock content %}

{% block js %}

    <script src="{% static 'js/users.js' %}"></script>

{% endblock js %}
 