{% extends 'home/home.html' %}
{% load static %}
{% load l10n %}

{% block link %}{% static 'css/project_detail.css' %}{% endblock link %}
{% block link2 %}{% static 'css/home.css' %}{% endblock link2 %}


{% block title %}Ver Proyecto{% endblock title %}


{% block main_content %}
    {% if project.is_active == True %}
    
        {% for message in messages %}
            <div class="{{ message.tags }}">{{message}}</div>
        {% endfor %}

        <div class = "publication_heading">
            <div class='publication_info'>
                <div class="category-div">
                    <span class = "icon-price-tag" style = "color: {{ project.category.color }}"></span>
                    <h2 class = "publication_category"><a style = "color: {{ project.category.color }}" href="{% url 'category_explore' project.category.diminutive %}">{{ project.category.name }}</a></h2>
                </div>
                <h1 class = 'publication_title'>{{ project.title }}</h1>
                <h3 class = "publication_author">Presentado por <a href="{% url 'profile' project.author.username %}">{{ project.author.get_full_name }}</a></h3>
                <span class="icon-calendar"></span><h5 class="pub-date">{{ date_posted }}<h5>
            </div>
            <div class='publication_control'>
                {% if object.author  == user  %}
                    <a href="{% url 'project_update' object.id %}"><span class="icon-pencil"></span></a>
                    <a href="{% url 'project_delete' object.id %}"><span class="icon-bin"></span></a>
                {% else %}
                    <div class='report'>
                        <a href="#" id='report'><span class="icon-flag"></span></a>
                        <div id='report-select'>
                            <ul class='report-list'>
                                <li class="report-element"><span class='icon icon-tag-cancel'></span><a class="link" href="{% url 'report' project.id 0 %}"></a>El proyecto no es de la categoría indicada</li>
                                <li class="report-element"><span class='icon icon-wondering2'></span><a class="link" href="{% url 'report' project.id 1 %}"></a>Uso inapropiado del lenguaje</li>
                                <li class="report-element"><span class='icon icon-question'></span><a class="link" href="{% url 'report' project.id 2 %}"></a>  No es un proyecto</li>
                            </ul>
                        </div>
                    </div>        
                {% endif %}
            </div>

        </div>

        <div class="pub-content">
            <p class="pub-text">{{ project.description }}</p>
                    <div class="images">
            {% if project.image1 %}
                <div class = "image1">
                    <a target="_blank" href="{{ project.image1.url }}"><img src="{{ project.image1.url }}"></a>
                </div>		
            {% endif %}
            {% if project.image2 %}
                <div class = "image2">
                    <a target="_blank" href="{{ project.image2.url }}"><img src="{{ project.image2.url }}"></a>
                </div>		
            {% endif %}
            {% if project.image3 %}
                <div class = "image3">
                    <a target="_blank" href="{{ project.image3.url }}"><img src="{{ project.image3.url }}"></a>
                </div>		
            {% endif %}
        </div>
        </div>

        <div class="medallas">
            <div class="medal-container">
                <div class="bronce" style='opacity:{{ bronzed|yesno:"1,.5" }}'>
                    <a href="{% url 'give_medal' project.id 'Bronze'  %}"><img src="{% static 'img/bronce.png' %}" alt="Medallas de bronce"></a>
                </div>

                <div class="plata" style='opacity:{{ silvered|yesno:"1,.5" }}'>
                    <a href="{% url 'give_medal' project.id 'Silver'  %}"><img src="{% static 'img/plata.png' %}" alt="Medallas de plata"></a>
                </div>

                <div class="oro" style='opacity:{{ golded|yesno:"1,.5" }}'>
                    <a href="{% url 'give_medal' project.id 'Gold'  %}"><img src="{% static 'img/oro.png' %}" alt="Medallas de oro"></a>
                </div>
            </div>

            <div class="medal-text-container">
                <h5 class="medal-text">¡Otorga una medalla!</h5>
            </div>

        </div>


        <div class="comment_section">
            <div class='new_comment'>
                <img class="user_img" src={{ user.gronner.image.url }}>
                <form method='POST'>
                    {% csrf_token %}
                    <textarea name='comment' placeholder="Comentar" required></textarea>
                    <div class="send">
                        <button type="submit" value=""><span class = 'icon-send'></span></button>
                    </div>
                </form>
            </div>

            <div class='comments'>
                {% if comments %}
                    {% for comment in comments %}
                        <div class="comment">
                            <div class="head">
                                <a href="{% url 'profile' comment.user.username %}" class="link"></a>
                                <div class="comment_user_image">
                                    <img class="user_img" src="{{ comment.user.gronner.image.url }}">
                                </div>
                                <div class="info_com">
                                    <span class="comment_date">{{ comment.get_date }}</span>
                                    <div class="comment_user_name">{{ comment.user.first_name }} {{ comment.user.last_name }}</div>
                                    <div class="comment_user_dedication">{{ comment.user.gronner.dedication }}</div>
                                </div>
                            </div>
                            <div class="comment_content">{{ comment.text }}</div>
                            {% if project.author == user or comment.user == user %}
                                <a href="{% url 'comment_delete' project.id comment.id %}"><span class="icon-bin"></span></a>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% else %}
                    <h3 class="noContent">No hay comentarios, ¡sé el primero!</h3>
                {% endif %}
            </div>
        </div>
    {% else %}
        <h1>Proyecto Eliminado<h1>
    {% endif %}

{% block js %}
    <script type="text/javascript">
        flag = document.getElementById('report')
        reportSelections = document.getElementById('report-select')
        flag.onclick = function report(){
            reportSelections.classList.toggle('open');
        }

    </script>

{% endblock js %}

{% endblock main_content %}
