{% extends 'project/project_detail.html' %}

{% load static %}
	{% block link3 %}{% static 'css/project_create.css' %}{% endblock link3 %}
	{% block title %}Crear proyecto{% endblock title %}


	{% block main_content %}

	
	<div class='heading'>
		{% block volver %}<a href='{% url 'homepage' %}'>Volver a inicio</a>{% endblock %}
		
		<h1 class='heading_title'>{% block legend %}Creando nuevo proyecto{% endblock %}</h1>
	</div>


	<form method="POST" enctype = "multipart/form-data">
		{% csrf_token %}

		<div class='heading_pub'>
			<div class="project_category">
				<span class="icon-price-tag"></span>
				{{ form.category }}
			</div>
			<div class="project_title">
				{{ form.title }}
			</div>
			<div class="project_creator">
				<p>Por {{ user.get_full_name }}</p>
			</div>
		</div>

		<div class="project_content">
			{{ form.description }}
		</div>
		<div class="images">
			<h3>Imágenes sobre el proyecto</h3>
			<div class = "image1">
				{{ form.image1 }}
			</div>
			<div class = "image2">
				{{ form.image2 }}
			</div>
			<div class = "image3">
				{{ form.image3 }}
			</div>
		</div>

	    <div class="medallas">
            <div class="medal-container">
                <div class="bronce">
                    <img src="{% static 'img/bronce.png' %}" alt="Medallas de bronce">
                </div>

                <div class="plata">
                    <img src="{% static 'img/plata.png' %}" alt="Medallas de plata">
                </div>

                <div class="oro">
                    <img src="{% static 'img/oro.png' %}" alt="Medallas de oro">
                </div>
            </div>

            <div class="medal-text-container">
                <h5 class="medal-text">Así se verán las medallas</h5>
            </div>

        </div>

		<div class="presentar">
			{% block send %}<button type="submit">Presentar</button>{% endblock %}
		</div>
		
	</form>

	{% endblock %}

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</body>
</html>