{% extends 'home/home.html' %}
{% load static %}

{% block link %}{% static 'css/project_detail.css' %}{% endblock link %}
{% block link2 %}{% static 'css/home.css' %}{% endblock link2 %}

{% block title %}Ver Proyecto{% endblock title %}

{% block main_content %}
    <span class = "icon-price-tag" style = "color: {{ project.category.color }}"></span>

    <div class = "publication_heading">
        <div class='publication_info'>
            <h2 class = "publication_category" style = "color: {{ project.category.color }}">{{ project.category.name }}</h2>
            <h1 class = 'publication_title'>{{ project.title }}</h1>
            <h3 class = "publication_author">Presentado por {{ project.author.first_name }} {{ project.author.last_name}}</h3>
        </div>
        <div class='publication_control'>
            {% if object.author  == user  %}
                <a href="{% url 'project_update' object.id %}"><span class="icon-pencil"></span></a>
                <a href="{% url 'project_delete' object.id %}"><span class="icon-bin"></span></a>
            {% endif %}
        </div>

    </div>

    <p class = "publication_body">{{ project.description }}</p>

    <div class="medallas">
        <h3 class="medal_title">Reconoce a {{ project.author.first_name }}</h3>
        <div class="bronce">
            <img src="{% static 'img/bronce.png' %}" alt="Medallas de bronce">
            <span class="cantidad">{{ bronze }}</span>
        </div>

        <div class="plata">
            <img src="{% static 'img/plata.png' %}" alt="Medallas de plata">
            <span class="cantidad">{{ silver }}</span>
        </div>

        <div class="oro">
            <img src="{% static 'img/oro.png' %}" alt="Medallas de oro">
            <span class="cantidad">{{ gold }}</span>
        </div>
    </div>

    <div class="comment_section">
        <div class='new_comment'>
            <img src={{ user.gronner.image.url }}>
            <form method='POST'>
                {% csrf_token %}
                <input type="text" name='comment'>
                <button type="submit"><span class = 'icon icon-send'></span></button>
            </form>
        </div>

        <div class='comments'>
            {% if comments %}
                {% for comment in comments %}
                    <div class="comment">
                        <img class="comment_image" src="{{ comment.user.gronner.image.url }}">
                        <span class="comment_date">{{ comment.get_date }}</span>
                        <div class="comment_user_name">{{ comment.user.first_name }} {{ comment.user.last_name }}</div>
                        <div class="comment_user_dedication">{{ comment.user.gronner.dedication }}</div>
                        <div class="comment_content">{{ comment.text }}</div>
                    </div>
                {% endfor %}
            {% else %}
                <h3 class="noContent">No hay comentarios, se el primero!</h3>
            {% endif %}
        </div>
    </div>
{% endblock main_content %}
