{% extends 'base/base.html' %}
{% load static %}
{% block link3 %}{% static 'css/explore-category.css' %}{% endblock link3 %}

{% block content %}

    <div class='category-view-title' style="background-color: {{ category.color }}">
        <h1>
            <span class="icon-price-tag"></span>
            {{ category.name }}
            {% if not followed %}
                <a title='Seguir categoría' href="{% url 'follow_category' category.diminutive %}"><span class='icon-plus'></span></a>
            {% else %}
                <a title='Dejar de seguir categoría' href="{% url 'follow_category' category.diminutive %}"><span class='icon-tag-cancel'></span></a>
            {% endif %}
        </h1>    
    </div>

    <div class='publicaciones'>
        {% for message in messages %}
            <div class="{{ message.tags }}">{{message}}</div>
        {% endfor %}

        <h2>Proyectos destacados</h2>

        {% if projects %}
            {% for project, comment, medal in projects %}
                <div class="publicacion">
                <div class="postedAt"><span class="icon-calendar"></span><span class="numeroComments">{{ project.get_date }}</span></div>
                <a href="{% url 'project_detail' project.id %}" class='link'></a>

                    <div class="categoria">
                        <span class="icon-price-tag" style="color:{{ project.category.color }}"></span>
                        <a href="#" style="color:{{ project.category.color }}">{{ project.category.name }}</a>
                    </div>

                    <div class="info-pub">
                        <h3 class="titulo">{{ project.title }}</a></h3>
                        <h4 class="creador">por <a href="{% url 'profile' project.author.username %}">{{ project.author.get_full_name}}</a></h4>
                        <h3 class="description">{{ project.description }}</h3>
                    </div>

                    <div class="medallas">
                            <div class="bronce">
                                <img src="{% static 'img/bronce.png' %}" alt="Medallas de bronce">
                                <span class="cantidad">{{ medal.bronze }}</span>
                            </div>

                            <div class="plata">
                                <img src="{% static 'img/plata.png' %}" alt="Medallas de plata">
                                <span class="cantidad">{{ medal.silver }}</span>
                            </div>

                            <div class="oro">
                                <img src="{% static 'img/oro.png' %}" alt="Medallas de oro">
                                <span class="cantidad">{{ medal.gold }}</span>
                                
                            </div>
                    </div>
                
                

                    <div class="comentarios">
                        <span class="icon-bubble" style="color:{{ project.category.color }}"></span>
                        <span class="numeroComments">{{ comment }}</span>	
                    </div>

                    <div class="divEndPublic"></div>
                </div>
            {% endfor %}
        {% empty %}

            <div class="noContent">Por ahora no hay proyectos de esta categoría</div>

        {% endif %}

    </div>
{% endblock content %}