<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Registrarse</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
	<meta name="viewport" content="width=device-width">

</head>
<body>

	<div id="main">

		<div class="form">
			
			<h2>¡Enseña tus habilidades al mundo!</h2>	
			
			<div class="formBody" >
				<div class="logo">
					<img src="{% static 'img/logo-de-una-letra.png' %}">	
				</div>
				<form method="POST">

					<div class="divInput">
						<input type="text" name="Nombre"  autocomplete="off" required="">
						<label>Nombre y Apellido</label>	
					</div>

					<div class="divInput">
						<input type="text" name="Dedicación"  autocomplete="off" required="">
						<label>Dedicación</label>			
					</div>

					<div class="divInput">
						<input type="date" name="FechaNacimiento" autocomplete="off" required="">
						<label>Fecha de nacimiento</label>	
					</div>

					<div class="divInput">
						<input type="text" name="Correo"  autocomplete="off" required="">
						<label>Correo</label>
					</div>

					<div class="divInput">
						<input type="password" name="Contraseña"  autocomplete="off" required="">
						<label>Contraseña</label>	
					</div>
					
					<div class="divInput">
						<input type="password" name="confirmarContraseña"  autocomplete="off" required="">
						<label>Confirmar Contraseña</label>		
					</div>

					<input class="check" type="checkbox" name="Acepta" required="">

					<div class="politica">
						<label>He leído la <a href="#"><b>política de privacidad</b></a> y <a href="#"><b>condiciones de uso</b></a> y estoy de acuerdo. </label>	
					</div>
	

					<input class="envio" type="submit" name="Enviar" value="Enviar">
				</form>	

				<div class="tengoCuenta"><a href="{% url 'index' %}">Tengo una cuenta</a></div>
			</div>
		</div>
	</div>
	

</body>
</html>